/* Only dashboard */
:root {
  --header-height: 70px;
}
b/* Dashboard only */
body.dashboard-layout {
  overflow-x: hidden;
}

/* Main wrapper */
.dashboard-layout {
  display: flex;
  padding-top: var(--header-height);
  min-height: calc(100vh - var(--header-height));
}

/* Sidebar */
.sidebar {
  width: 240px;
  flex-shrink: 0;
  background: #1f4f99;
  min-height: calc(100vh - var(--header-height));
}

/* Main section */
.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - var(--header-height));
}

/* Page content */
.content {
  flex: 1;
  margin-left: 15px;
  .footer-section{
    margin-left: 10px;
}


}
footer.footer-section.bg-dark.text-white.pt-5.pb-4 {
    margin-left: 10px;
}
dashboard-layout.navbar.scrolled{
    /* background: #ffffff !important; */
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
    background: linear-gradient(135deg, #0b1c3f, #091c4a);
}