.signup-card {
  width: 420px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

.is-invalid {
  border-color: #dc3545;
}
// .input-group .btn {
//   border-left: none;
// }

// .input-group .form-control.is-invalid {
//   border-right: none;
// }
