.signup-card {
  width: 420px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

.is-invalid {
  border-color: #dc3545;
}
.auth-tabs {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.tab-container {
  display: flex;
  background: #e9ecef;
  border-radius: 50px;
  padding: 4px;
  width: 100%;
  max-width: 300px;
}

.tab {
  flex: 1;
  text-align: center;
  padding: 8px 0;
  border-radius: 50px;
  cursor: pointer;
  font-weight: 500;
  transition: 0.3s;
}

.tab.active {
  background: white;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  font-weight: 600;
}
.btncolor{
  background: linear-gradient(45deg, #a547b1, #f84298) no-repeat center;
}

