<section class="testimonial-section">
  <div class="container text-center">

    <app-section-header 
    [subTitle]="'Testimonials'" 
    [mainTitle]="'What Our Client Says'"
    [subClass]="'section-sub-blue'">
    </app-section-header>


    <owl-carousel-o #owl [options]="options">

      @for (item of testimonials; track item.id ?? item.name) {
      <ng-template carouselSlide>

        <p class="testimonial-text">
          {{ item.comment }}
        </p>

        <div class="testimonial-user">
          <img [src]="item.img" alt="{{ item.name }}" />
          <h4>{{ item.name }}</h4>
          <span>{{ item.role }}</span>
        </div>

      </ng-template>
      }

    </owl-carousel-o>

    <div class="testimonial-arrows">
      <button (click)="owl.prev()" class="arrow left"></button>
      <button (click)="owl.next()" class="arrow right"></button>
    </div>

  </div>
</section>