.faq-item {
    background: #fff;
    border-radius: 10px;
    border: 1px solid #f0f0f0;
    transition: all 0.3s ease;
    cursor: pointer;
}
.faq-section app-section-header {
    display: block;
    margin-bottom: 36px;
}

/* Active State Design (Blue Border) */
.faq-item.active {
    border: 1.5px solid #4361ee;
    box-shadow: 0 10px 25px rgba(67, 97, 238, 0.05);
}

.faq-header h6 {
    color: #0b1c3f;
    font-size: 16px;
}

.faq-body p {
    font-size: 14px;
    line-height: 1.8;
}

.icon-wrapper i {
    transition: transform 0.3s ease;
}

/* Hover Effect */
.faq-item:hover {
    background: #fafafa;
}
::ng-deep .section-sub-blue {
    font-size: 15px;
    color: #4361ee !important; 
    font-weight: 500;
   
}