<div class="wrapper">
  <div class="card">

    <h2>Change Password</h2>

    <form [formGroup]="changePassForm" (ngSubmit)="submit()">

      <!-- Existing Password -->
      <div class="form-group">
        <label>Current Password</label>
        <input type="password" formControlName="existingPassword" placeholder="Enter current password" />
        <p class="error" *ngIf="isSubmitted && changePassForm.controls['existingPassword'].errors">
          Current password is required
        </p>
      </div>

      <!-- New Password -->
      <div class="form-group">
        <label>New Password</label>
        <input type="password" formControlName="newPassword" placeholder="Enter new password" />
        <p class="error" *ngIf="isSubmitted && changePassForm.controls['newPassword'].errors">
          Minimum 6 characters required
        </p>
      </div>

      <button type="submit" class="btn">Update Password</button>

    </form>

  </div>
</div>

