/* Default Styles */
.section-sub {
    font-size: 15px;
    color: #e668b3;
    margin-bottom: .5rem;
    font-weight: 500;
}

.section-main {
    font-size: 36px;
    font-weight: 700;
    color: #0b1c3f;
}